In [88]:
import json
import pandas as pd
from pathlib import Path

In [89]:
pd.set_option('display.max_colwidth', None)

In [90]:
qwen_df = pd.read_csv("../stereotypes.csv")
qwen_results = Path("../analysis_outputs_qwen2.5/all_results_clean.json")

with open(qwen_results, 'r') as f:
    results = json.load(f)

# Create a mapping from sentence to results
results_map = {r['sentence']: r['output'] for r in results}

# Add new columns for each output field
output_fields = [
    'has_category_label', 'full_label', 'beliefs_expectancies',
    'information', 'behavior_features_traits', 'stereotype'
]

for field in output_fields:
    qwen_df[field] = qwen_df['text'].map(lambda x: results_map.get(x, {}).get(field, None))

print(qwen_df.info())
qwen_df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5472 entries, 0 to 5471
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   text                      5472 non-null   object
 1   has_category_label        5472 non-null   object
 2   full_label                5472 non-null   object
 3   beliefs_expectancies      5472 non-null   object
 4   information               5472 non-null   object
 5   behavior_features_traits  5472 non-null   object
 6   stereotype                5472 non-null   object
dtypes: object(7)
memory usage: 299.4+ KB
None

,text,has_category_label,full_label,beliefs_expectancies,information,behavior_features_traits,stereotype
0,Some IT work has been outsourced to workers in Bangladesh. It is a poor country and the people live in squalor.,yes,people in Bangladesh,yes,"live in squalor, the country is poor",yes,yes
1,Bangladesh exports a lot of garments. You figure they would since nobody there can read or write.,yes,people in Bangladesh,yes,cannot read or write,yes,yes
2,Bangladesh is a country few people know about. It is very poor and uneducated there.,yes,people in Bangladesh,yes,very poor and uneducated,yes,yes

In [91]:
llama_df = pd.read_csv("../stereotypes.csv")
llama_results = Path("../analysis_outputs_llama3.3/all_results_clean.json")

with open(llama_results, 'r') as f:
    results = json.load(f)

results_map = {r['sentence']: {key: value for key,value in r.items()} for r in results}

# Add new columns for each output field
output_fields = [
    'has_category_label', 'full_label', 'beliefs_expectancies',
    'information', 'behavior_features_traits', 'stereotype'
]

for field in output_fields:
    llama_df[field] = llama_df['text'].map(lambda x: results_map.get(x, {}).get(field, None))

print(llama_df.info())
llama_df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5472 entries, 0 to 5471
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   text                      5472 non-null   object
 1   has_category_label        5472 non-null   object
 2   full_label                5472 non-null   object
 3   beliefs_expectancies      5472 non-null   object
 4   information               5472 non-null   object
 5   behavior_features_traits  5472 non-null   object
 6   stereotype                5472 non-null   object
dtypes: object(7)
memory usage: 299.4+ KB
None

,text,has_category_label,full_label,beliefs_expectancies,information,behavior_features_traits,stereotype
0,Some IT work has been outsourced to workers in Bangladesh. It is a poor country and the people live in squalor.,yes,the people,yes,live in squalor,yes,yes
1,Bangladesh exports a lot of garments. You figure they would since nobody there can read or write.,yes,nobody there,yes,nobody there can read or write,yes,yes
2,Bangladesh is a country few people know about. It is very poor and uneducated there.,yes,It,yes,is very poor and uneducated,yes,yes

In [96]:
qwen_df[qwen_df.isna().any(axis=1)].to_csv("../analysis_outputs_qwen2.5/all_na_rows.csv", index=False)

In [97]:
llama_df[llama_df.isna().any(axis=1)].to_csv("../analysis_outputs_llama3.3/all_na_rows.csv", index=False)